* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

#footer{
    background-color: #000;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}