form {
    width:300px;
}

input {
    width:100%;
}

textarea {
    resize:vertical;
    max-height: 100px;
}

input, textarea {
    outline:none;
    border: 1px solid #ddd;
}

input:focus, textarea:focus {
    box-shadow: 0 0 4px black;
    border: 1px solid black;
}

::placeholder {
    color: black;
    opacity: 1;
}

:-ms-input-placeholder {
    color: black;
}

::-ms-input-placeholder {
    color: black;
    opacity: 1;
}